{% if messages %}
    {% for message in messages %}
    <div {% if message.tags %} class='alert alert-{{ message.tags }}' {% endif %}>
        {% if message.tags == 'success' %}
            <span class='fas fa-check'></span> 
        {% elif message.tags == 'info'  %}
            <span class='fas fa-info-circle'></span> 
        {% elif message.tags == 'warning' %}
            <span class='fas fa-exclamation-triangle'></span>
        {% elif message.tags == 'error' %}
            <span class='fas fa-times'></span> 
        {% endif %}
            
        {{ message }}
    </div>
    {% endfor %}
{% endif %}